src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
                    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
                    http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
                    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
                    http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/3.2/mule-tracking-ee.xsd">

    <spring:beans></spring:beans>

    <tracking:custom-event-template name="discountDetails">
        <tracking:meta-data key="Total List Price" value="#[ognl:totalListPrice]" />
        <tracking:meta-data key="Total Discounted Price" value="#[ognl:totalDiscountedPrice]" />
        <tracking:meta-data key="Discount Percentage" value="#[ognl:discountPercentage]" />
    </tracking:custom-event-template>

    <flow name="order_management" doc:name="Order Processing" tracking:enable-default-events="true">
        <http:inbound-endpoint host="localhost" port="1081" path="orders" exchange-pattern="request-response" tracking:enable-default-events="false">
            <not-filter tracking:enable-default-events="false">
                <wildcard-filter pattern="/favicon.ico" tracking:enable-default-events="false"/>
            </not-filter>
        </http:inbound-endpoint>
        <cxf:jaxws-service serviceClass="com.mulesoft.demo.orderprocessing.ProcessOrderImpl" doc:name="Process SOAP Order request"/>
        <tracking:transaction id="PO#[ognl:orderId]" doc:name="Register Order Id"/>
        <component class="com.mulesoft.demo.orderprocessing.ProcessOrderImpl" doc:name="Create Order Summary"/>
        <choice>
            <when expression="totalListPrice &gt; 1000" evaluator="ognl">
                <processor-chain>
                    <component class="com.mulesoft.demo.orderprocessing.ThirtyPercentDiscount" doc:name="Apply discount 30 percent"/>
                    <tracking:custom-event event-name="Order discount details" inherits="discountDetails"/>
                </processor-chain>
            </when>
            <when expression="totalListPrice &gt; 500" evaluator="ognl">
                <processor-chain>
                    <component class="com.mulesoft.demo.orderprocessing.TwentyPercentDiscount" doc:name="Apply discount 20 percent"/>
                    <tracking:custom-event event-name="Order discount details" inherits="discountDetails"/>
                </processor-chain>
            </when>
            <when expression="totalListPrice &lt; 500" evaluator="ognl">
                <processor-chain>
                    <component class="com.mulesoft.demo.orderprocessing.TenPercentDiscount" doc:name="Apply discount 10 percent"/>
                    <tracking:custom-event event-name="Order discount details" inherits="discountDetails"/>
                </processor-chain>
            </when>
        </choice>
    </flow>
</mule>
